@model AccountAddAlbumModel
<div class="container">
	<div class="row">
		<div class="twelvecol">
			@using ( Html.BeginForm() ) {
				<div class="form">
					@Html.ValidationSummary(true, "Album was not created successfully.")
					<div class="label">
						@Html.LabelFor(m => m.Title)
					</div>
					<div class="field">
						@Html.TextBoxFor(m => m.Title, new { maxlength=64 })
						@Html.ValidationMessageFor(m => m.Title)
					</div>
					<input type="submit" class="submit" value="Add" />
				</div>
			}
		</div>
	</div>
</div>
