@model AccountUploadModel
<div class="container">
	<div class="row">
		<div class="twelvecol">
			<h3>
				Photo Upload Complete
			</h3>
			<p>
				Upload status for each photo:<br/>

				@foreach ( WebUploadResult r in Model.UploadResults) {
					string color = 
						(r.Status == WebUploadResult.UploadStatus.Success ? "" : " color: #e55;");
					
					<span style="margin-left: 10px;@color">
						- <b>@r.Filename</b>: @r.Status (@r.NewPhotoId)
					</span><br/>
				}

			</p>
		</div>
	</div>
</div>
