@model WebAlbum
@{
	string numPhotoText = Model.NumPhotos+" photo"+(Model.NumPhotos==1?"":"s");
	int favPerc = (int)Math.Round((Model.NumFavs/(float)Model.NumPhotos)*100);
	string numFavText = favPerc+"% favorites";

	var link = new ActionLinkModel<PhotosController>(x => x.Albums(Model.AlbumId), Model.Title);
}
@{ Html.RenderPartial("_CroppedAlbum", Model); }
<p class="albumSummary">
	@Html.ActionLink(link, new { @class="title" })
	<br />
	@Model.DateRangeString<br />
	@numPhotoText<br />
	@numFavText
</p>